:root{
    --main-bg-color:rgb(123,32,158);

}

.content-container{
    background-color: white;
    display: flex;
    padding: 45px;
    flex-direction: column;
    gap: 25px;
}
.input-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-left, .input-right{
    height: 50px;
    width: 44%;
    padding: 0px 0px 0px 10px;
    border-radius: 5px;
    border: solid grey 1px;
    font-family: Inter;
    font-size: large;

}
.btn-meme{
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 4px 0px 4px 10px;
    border-radius: 5px;
    border: solid grey 1px;
    background-color:var(--main-bg-color);
    color: white;
    font-family: Inter;
    gap: 15px;
}
.img-troll-btn{
    height: 45px;
    border-radius: 50%;
}

.img-content{
    border-radius: 5px;
    border: solid grey 1px;
   
}
.img-content-dark{
    filter: brightness(80%);
}

/*  mobile */

@media screen and (max-width: 768px) {
    .content-container {
    padding: 20px;
    }
    
    .input-left, .input-right {
    width:100%;
    }
    
    .btn-meme {
    font-size: 14px;
    }
    
    .img-troll-btn {
    height: 20px;
    }
    }